# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.svg
*.ico
*.tiff

# Audio
*.mp3
*.mod
*.wav
*.ogg
*.flac
*.m4a
*.aac

# Video
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.webm
*.flv

# Trackers
*.xm
*.it
*.s3m

# Sorties générées
/audio/
/thumbs/
/data/hash_cache.json

# Python
__pycache__/
*.pyc
